h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 21px;
    line-break: auto;
}
#recupere-text-01{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}

h4#gratis {
    display: inline;
    color: #ff610c
}

h2#sloganText {
    text-align: left;
    font-style: italic;
    color: #ff610c;
    font-size: 29.5px;
}

h2#welcomeText {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

div.row.justify-content-evenly {
    margin-top: 40px;
}

.circle {
    background: #b8b8b8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: -100px;
    right: -80px;
    position: absolute;
    z-index: -1;
}

div.container {
    position: absolute;
}

.btn.btn-primary {
    background: #ff610c;
    border-radius: 20px;
    padding: 0%;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: none;
}
.link-recuperar{
    width: fit-content;
}
.btn-recuperar{
    color: white;
    padding: auto;
    width: 70px;
    border-radius: 10px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 0px;
    margin-top: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
  }
  
  input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
  }
  
  input:focus::-moz-placeholder { /* Firefox 19+ */
    font-size: 20px;
  }
  input:focus:-ms-input-placeholder { /* IE 10+ */
    font-size: 20px;
  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    font-size: 20px;
  }

#inFormText{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
        margin-left:20px
    }
@media screen and (max-width: 600px) {
    h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 21px;
        line-break: auto;
        width: 400px;
    }

    h4#gratis {
        display: inline;
        color: #ff610c;
    }

    h2#sloganText {
        text-align: center;
        color: #ff610c;
        font-style: italic;
        width: 400px;
    }

    h2#welcomeText {
        text-align: center;
    }

    img {
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
        margin: auto;
        display: block;
    }
}